label {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e2e0e0;
}
body {
  border:#f9f9f9 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background-color: #49494b;
  width: 350px;
  height: 600px;
  border-radius: 50px;
  padding: 20px;
}

textarea {
  color: #e2e0e0;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: #201f1f;
  font-size: 14px;
}

button {
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #713797;
  border: none;
  border-radius: 11px;
  display: inline-block;
  color: #e2e0e0;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 49%;
  height: 5%;
  opacity: 1;
  transition: 0.5s;
}
button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #8f46c0;
}
button:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: #1A1A1A;
  color: #fff;
  transition: 20ms;

}

label {
  align-items: right;
}

#response{
  color: #e2e0e0;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: #201f1f;
  width: 100%;
  height: 375px;
  overflow: auto;
}